.loginContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  background-color: var(--blank_002);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  border-radius: 10px 10px 0px 0px;
}
.btn {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #edd1bf;
  color: var(--secondary);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: var(--blank_001);
  color: var(--primary);
}
.btn:active {
  transform: translateY(2px);
}
.inputs {
  font-size: 18px;
  padding: 5px 10px;
  width: 100%;
  padding-left: 35px;
  outline: none;
  background: #ffffff;
  color: var(--secondary);
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 2px 0px #e2e2e2;
  transition: 0.3s ease;
}
.inputs:focus {
  background: #f2f2f2;
  border: 1px solid var(--background);
  border-radius: 10px;
}
.inputs::placeholder {
	color: var(--secondary);
  font-weight:lighter;
}