@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --primary: #1c120d;
  --secondary: #996b4d;
  --blank_002: #fcfaf7;
  --blank_001: #e5e8eb;
}

body {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blank_002);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
a {
  color: initial;
  text-decoration: none;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blank_001);
  width: 100vw;
  border-bottom: 1px solid var(--primary);
}
.headerContainer ul{
  list-style: none;
}
.headerContainer button{
  background-color: transparent;
  border: none
}
.titreHeader h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.titreHeader{
    font-size: 2.5em;

}