
.homeContainer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  background-color: var(--blank_002);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  border-radius: 10px;

}

.articlesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
  
}

.articleCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.articleCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}
